    /* --------------------------- */
    /* Reinitialisation navigateur */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }

    button {
        border: none;
        box-shadow: none;
        outline: none;
        background: none;
    }

    /* --------------------------- */


    body {
        margin: 10px;
        width: 80%;
        background-color: bisque;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header {
        background-color: #61787F;
        color: white;
        width: 100%;
        margin: 30px;
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .tab_actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .title {
        background-color: #61787F;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    table {
        width: 300px;
        border-collapse: collapse;
    }

    table th,
    table td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        /* centre le texte */
    }